.popover--medium {
  z-index: 999;
}
.sidenav.is-collapsed,
.sidenav.is-collapsed .sidenav-menu,
.sidenav.is-collapsed .sidenav-item,
.sidenav.is-collapsed .sidenav-icon--jobberLogo {
  width: 3.75rem;
  overflow: visible;
}
.sidenav.is-collapsed .sidenav-item {
  padding: 0;
}

.sidenav.is-collapsed .sidenav-icon--jobberLogo {
  border-radius: 0;
}

.sidenav.is-collapsed .sidenav-icon {
  margin-left: 0;
}

.sidenav.is-collapsed .sidenav-icon {
  margin-left: 0;
}

.sidenav.is-collapsed .sidenav-icon--collapseToggle {
  transform: rotate(180deg);
}

sg-icon.sidenav-icon--collapseToggle {
  cursor: pointer;
  -webkit-transition: color 200ms linear, -webkit-transform 200ms linear;
  transition: color 200ms linear, -webkit-transform 200ms linear;
  transition: transform 200ms linear, color 200ms linear;
  transition: transform 200ms linear, color 200ms linear,
    -webkit-transform 200ms linear;
}

._3JZjimh4dusy34C2IGQzQR {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-family: var(--typography--fontFamily-normal);
}

.zvmTM4St0_C8TPhD_O9ug {
  font-size: var(--typography--fontSize-extravagant);
}

.Ra_cuCnMc70RK2H_4ChBn {
  font-size: var(--typography--fontSize-jumbo);
  line-height: var(--typography--lineHeight-large);
}

.dOMvSoEm0D0x_f7zK_PBP {
  font-size: var(--typography--fontSize-largest);
  line-height: var(--typography--lineHeight-large);
}

._2fQLkoSAbYzgqfs8bUALb2 {
  font-size: var(--typography--fontSize-larger);
  line-height: var(--typography--lineHeight-tight);
}

._2zgB2QyVZKtvAxXrvqGZGR {
  font-size: var(--typography--fontSize-large);
  line-height: var(--typography--lineHeight-tightest);
}

._101f4LA9L04rx4wc82bzVJ {
  font-size: var(--typography--fontSize-base);
  line-height: var(--typography--lineHeight-base);
}

.Apy0Y618g1UWAkSvq0riG {
  font-size: var(--typography--fontSize-small);
  line-height: var(--typography--lineHeight-tighter);
}

._1MhBMulQtq31Ys4q9xtSNg {
  font-size: var(--typography--fontSize-smaller);
  line-height: var(--typography--lineHeight-tight);
}

._15KVrV8OEixNgFqxYBEwRF {
  font-family: var(--typography--fontFamily-normal);
  font-weight: 400;
}

._9NJa1tKodJk5XW-pP-BDY {
  font-family: var(--typography--fontFamily-normal);
  font-weight: 700;
}

._2NjTYoUg2rwawsmn41FWY8 {
  font-family: var(--typography--fontFamily-display);
  font-weight: 800;
}

.uys-zl4qz0plQt9LRshAd {
  font-family: var(--typography--fontFamily-display);
  font-weight: 900;
}

._1QxZQjhSzY_Sq3KYUwHvCM {
  text-transform: uppercase;
}

._76SoHLzwZVKSPV8Jbxptp {
  text-transform: lowercase;
}

._1v1wGIm3g_nN5Y3jA2EyuK {
  text-transform: capitalize;
}

._3ll_IHWYP5CXtvLbd7M3g4 {
  color: var(--color-blue);
}

._2aLfviMTslnYDFQydSPFyG {
  color: var(--color-grey);
}

._2yHCFsRY1Y6nrwHGA2BGXR {
  color: var(--color-greyBlue--dark);
}

.khfPfWiE9EnXFTUREGKev {
  color: var(--color-greyBlue);
}

._1IbTq3B5pV7-zQrdDXJhDB {
  color: var(--color-green);
}

.LH8KHdwfbdIWS8Ia4LNzJ {
  color: var(--color-red);
}

._2qLzIirDpz70j0ZkQstH4P {
  color: var(--color-yellow);
}

._2WeCxN6EUixXRd6wiNkurb {
  color: var(--color-yellow--dark);
}

._3KVpUUVNa7DxPCMTIqHmkr {
  color: var(--color-lightBlue);
}

.K60KIG2FVHz496YyImWfR {
  color: var(--color-white);
}

._2v32EeDVd2655RBXZ9dq3n {
  font-style: italic;
}

._1qwLpB6asp267SE_SsLR5r {
  margin-left: calc(-1 * var(--space-smaller));
  padding: 0 var(--space-smaller);
  font-family: var(--typography--fontFamily-display);
  font-weight: inherit;
  background-image: linear-gradient(
    to left,
    var(--color-green--lighter),
    var(--color-green--lighter)
  );
  background-position: left 75%;
  background-repeat: repeat-x;
  background-size: 100% 52%;
}

.ZDlJU6tECg7ouG-b27gya {
  fill: var(--color-greyBlue--dark);
  display: inline-block;
  vertical-align: middle;
}

._2azt9Jt0fRUQn8YEtWXIl3 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

._2OdINXelxFp3p7rxzdXAsi {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

._3F7n5ToMv0htmhmS_dNhjQ {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

._29W47x5R7CHDPdmq99tUBc,
._2Nh371UPo_GfyCeqMqwCsV,
._35gHCudpO36maz6yBIS9hG {
  fill: var(--color-teal);
}

._2AsZsCnv8jY7bjbnXxovAZ,
._37pYyp2fnxbNTQFRJQ-xzh {
  fill: var(--color-job);
}

._3xbzI80H4DwLBIE4qd8z0o,
.Z8O8gzZTvEK6xX-CpO3Jc {
  fill: var(--color-lime);
}

._12EQ5VPmFFQmZF_lO8hbYu {
  fill: var(--color-yellow);
}

.KhekINEl_x_sko8PgERf0 {
  fill: var(--color-request);
}

.B6i-xSwS7zkMHnd7XBEPX,
._2wzmr87z_SNfrth0ahpG7c,
._1fbz56arQt3_OOO8zZg33p {
  fill: var(--color-red);
}

.rcs4bT0JqdzYpjGnkyEnH {
  fill: var(--color-navy);
}

._1ANbiqwd8qgeLaumvLs27n {
  fill: var(--color-lightBlue);
}

._2eXuXJ2BydGI2eeh4gknZT {
  fill: var(--color-quote);
}

.g9p8B6JcwYGNc1VVKSAod,
._3bk6hx_7Eq0deQRvkkHP2s,
._1NpZCETHEsxF7m5-vwKGgy,
._1_Znzx1cuZF--oS60cGWsf {
  fill: var(--color-invoice);
}

.Qz2uB9Zg2rRL3AtTi8DaU {
  fill: var(--color-red);
}

._3Bvwx5XtHaBDiWE_BLHULH,
._3adzZMLKo6Fvk-YmG9j0aA {
  fill: var(--color-orange);
}

._1VUFVA1SrpfFGh5_1N-rRV {
  fill: var(--color-brown);
}

._2NHMoD69qNtaT3C3vJ-KeH {
  fill: var(--color-blue);
}

._2HvZ7Ah_FhbtZ9QNG3qhao {
  fill: rgb(31, 115, 71);
}

._85ejNuTlTLFcweKBgeZMK {
  fill: var(--color-greyBlue);
}

._14SULxU6aQ9-isMBbAGtZ {
  fill: rgb(195, 27, 0);
}

.ExUqs2sYkwDZNobmsfS8a {
  fill: rgb(41, 86, 154);
}

._3U8Jjii2OgUrnU5w9Tz8he {
  fill: var(--color-lightBlue);
}

._isfJqqskSRqop8TStvGA {
  width: calc(var(--base-unit) * 0.875);
  height: calc(var(--base-unit) * 0.875);
}

._3ctOeOMP7zLhU37n25xoZC {
  width: calc(var(--base-unit) * 1.5);
  height: calc(var(--base-unit) * 1.5);
}

._2SoAwA0A8G1BGDNjtkt-lt {
  width: calc(var(--base-unit) * 2);
  height: calc(var(--base-unit) * 2);
}

._2GsLyQLHv8yNULHeXGdver {
  fill: var(--color-white);
}

._1YELv8nmPPlX0Pzu_QGOMG {
  fill: var(--color-grey);
}

._2e1AAW5-LqZd1rLcmAUuzN {
  fill: var(--color-greyBlue);
}

._8bWF3AeRyRyMzB0iH9M6y {
  fill: var(--color-greyBlue--dark);
}

.n2jBqFmFzNTdsaFLYln27 {
  fill: var(--color-blue);
}

._1Fz3GVTXQVAtpcbXjBZ1DQ {
  fill: var(--color-lightBlue);
}

._1R4_alABGZICCj4KPfBOIa {
  fill: var(--color-green);
}

._2QH3YFqLKdR7aDlgrj2Hh6 {
  fill: var(--color-yellow);
}

._3kicqC60DO19i9GJUdTy7F {
  fill: var(--color-red);
}

._3JP83AjCT81W_LPJGSnPD5 {
  fill: var(--color-navy);
}

._1ILoHD9okwFJq74eTNjP6t {
  fill: var(--color-orange);
}

:root {
  --button--color-work: var(--color-green);
  --button--color-work--hover: var(--color-green--dark);

  --button--color-learning: var(--color-lightBlue);
  --button--color-learning--hover: var(--color-lightBlue--dark);

  --button--color-destructive: var(--color-red);
  --button--color-destructive--hover: var(--color-red--dark);

  --button--color-cancel: var(--color-greyBlue);
  --button--bg-color-cancel: var(--color-white);
  --button--color-disabled: var(--color-grey--lighter);
  --button--color-secondary: var(--color-white);
  --button--color-tertiary: var(--color-white);
}

.mvrsWRM8T3kCECXcDS2gd {
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: calc(var(--base-unit) * 2.25);
  box-sizing: border-box;
  margin: 0;
  border: 1px solid transparent;
  border-radius: var(--radius-base);
  color: transparent;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: transparent;
  cursor: pointer;
  transition: all var(--timing-base);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mvrsWRM8T3kCECXcDS2gd:focus {
  outline-color: var(--color-outline);
}

/* Variation */

._32HTPrDFyNRObzZRUxmhK6 {
  border-color: var(--color-green);
  border-color: var(--color-green);
  border-color: var(--button--color-work);
  color: var(--color-green);
  color: var(--color-green);
  color: var(--button--color-work);
  background-color: var(--color-green);
  background-color: var(--color-green);
  background-color: var(--button--color-work);
}

._32HTPrDFyNRObzZRUxmhK6:hover {
  border-color: var(--color-green--dark);
  border-color: var(--color-green--dark);
  border-color: var(--button--color-work--hover);
  background-color: var(--color-green--dark);
  background-color: var(--color-green--dark);
  background-color: var(--button--color-work--hover);
}

._2skm9hoZI_lSBKFKHaBFHp {
  border-color: var(--color-lightBlue);
  border-color: var(--color-lightBlue);
  border-color: var(--button--color-learning);
  background-color: var(--color-lightBlue);
  background-color: var(--color-lightBlue);
  background-color: var(--button--color-learning);
}

._2skm9hoZI_lSBKFKHaBFHp:hover {
  border-color: var(--color-lightBlue--dark);
  border-color: var(--color-lightBlue--dark);
  border-color: var(--button--color-learning--hover);
  background-color: var(--color-lightBlue--dark);
  background-color: var(--color-lightBlue--dark);
  background-color: var(--button--color-learning--hover);
}

._1XNe0NyiiX5gO7kNceanXE {
  border-color: var(--color-red);
  border-color: var(--color-red);
  border-color: var(--button--color-destructive);
  background-color: var(--color-red);
  background-color: var(--color-red);
  background-color: var(--button--color-destructive);
}

._1XNe0NyiiX5gO7kNceanXE:hover {
  border-color: var(--color-red--dark);
  border-color: var(--color-red--dark);
  border-color: var(--button--color-destructive--hover);
  background-color: var(--color-red--dark);
  background-color: var(--color-red--dark);
  background-color: var(--button--color-destructive--hover);
}

/* Cancel is special because, by defualt, it's styled as a secondary button */

._18iNPqYSqETrdDrhxieefx {
  border-color: var(--color-greyBlue);
  border-color: var(--color-greyBlue);
  border-color: var(--button--color-cancel);
  background-color: var(--color-white);
  background-color: var(--color-white);
  background-color: var(--button--bg-color-cancel);
}

._18iNPqYSqETrdDrhxieefx:focus,
._18iNPqYSqETrdDrhxieefx:hover {
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

/* Type */

._3ReFsKtTKUcgG7PduYChd3 {
  color: var(--color-white);
}

._3QATgEdYmR2g9Hx6X6wCF- {
  background-color: var(--color-white);
  background-color: var(--color-white);
  background-color: var(--button--color-secondary);
}

._3QATgEdYmR2g9Hx6X6wCF-:hover,
._3QATgEdYmR2g9Hx6X6wCF-:focus {
  background-color: var(--color-white);
  background-color: var(--color-white);
  background-color: var(--button--color-secondary);
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

._1IACxHVlJ8fUbaQh9Wo5wR {
  border-color: var(--color-white);
  border-color: var(--color-white);
  border-color: var(--button--color-tertiary);
  background-color: var(--color-white);
  background-color: var(--color-white);
  background-color: var(--button--color-tertiary);
}

._1IACxHVlJ8fUbaQh9Wo5wR:hover,
._1IACxHVlJ8fUbaQh9Wo5wR:focus {
  border-color: transparent;
  background-color: var(--color-grey--lightest);
}

/* Disabled */

._2A9nPQukZwPTOhSExvR0-Z,
._2A9nPQukZwPTOhSExvR0-Z:hover {
  border-color: var(--color-grey--lighter);
  border-color: var(--color-grey--lighter);
  border-color: var(--button--color-disabled);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--color-grey--lighter);
  background-color: var(--color-grey--lighter);
  background-color: var(--button--color-disabled);
  pointer-events: none;
  cursor: not-allowed;
}

/* Sizes */

._2bWEvNhV0hrUXGMEL-47ZW {
  min-height: calc(var(--base-unit) * 1.5);
  padding: 0 var(--space-small);
}

._1RWacHIaSoZ24Qq5QuiwLl {
  min-height: calc(var(--base-unit) * 2.25);
  padding: 0 calc(var(--space-base) - 4px);
}

._2lIWqvRcZzkk5iJxGXwXOZ {
  min-height: calc(var(--base-unit) * 3);
  padding: 0 var(--space-base);
}

/* Icon */

.s4L5ovtQ1xiOYCxjZtZzA {
  width: calc(var(--base-unit) * 2.25);
  padding: 0;
}

._2QzHdqV8dZvAzrDhFuq9VR {
  width: auto;
  padding: 0 var(--space-base);
}

._2QzHdqV8dZvAzrDhFuq9VR > *:first-child {
  margin-right: var(--space-small);
}

.ynAOdrWxU2gjfmktgPvCV > *:first-child {
  margin-left: var(--space-small);
  margin-right: 0;
  -ms-flex-order: 1;
  order: 1;
}

.azjQzmR6DJOHc9VhR8P_8 {
  width: 100%;
}

._3tkzLKKpGYFY0HgS8OkM_e {
  background-image: linear-gradient(
    135deg,
    rgba(0, 0, 0, 10%) 0%,
    rgba(0, 0, 0, 10%) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 10%) 50%,
    rgba(0, 0, 0, 10%) 75%,
    transparent 75%,
    transparent 100%
  );
  background-size: var(--space-larger) var(--space-larger);
  pointer-events: none;
  cursor: not-allowed;
  -webkit-animation-duration: var(--timing-slowest);
  animation-duration: var(--timing-slowest);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: _1g5cSkv2FhbaOp_SpZQve_;
  animation-name: _1g5cSkv2FhbaOp_SpZQve_;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

._3ReFsKtTKUcgG7PduYChd3._3tkzLKKpGYFY0HgS8OkM_e:not(._18iNPqYSqETrdDrhxieefx) {
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 25%) 0%,
    rgba(255, 255, 255, 25%) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 25%) 50%,
    rgba(255, 255, 255, 25%) 75%,
    transparent 75%,
    transparent 100%
  );
}

@-webkit-keyframes _1g5cSkv2FhbaOp_SpZQve_ {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: var(--space-larger) var(--space-larger);
  }
}

@keyframes _1g5cSkv2FhbaOp_SpZQve_ {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: var(--space-larger) var(--space-larger);
  }
}

._3XB3f5356G3URhbYQmxO0U > :not(:last-child) {
  margin-bottom: var(--space-base);
}

._3rRW5nzLQ-amnwpzAPjyCg > :not(:last-child) {
  margin-bottom: var(--space-small);
}

._2phzyL8OjyxQ0GU2n05YKL > :not(:last-child) {
  margin-bottom: var(--space-large);
}

._1TB2WRsjEoAUFq0FMfwdQ3 {
  padding: 0;
  padding: 0;
  padding: var(--public-content--padding, 0);
}

:root {
  --switch--pipSize: 30px;
  --switch--labelWidth: calc(var(--switch--pipSize) * 1.3);
  --switch--borderOffset: calc(var(--border-base) * 2);
}

._1TYiN0KipS0HguS_tKWfjN,
._1TYiN0KipS0HguS_tKWfjN * {
  box-sizing: border-box;
  transition: all var(--timing-base);
}

._1TYiN0KipS0HguS_tKWfjN {
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: calc(calc(30px * 1.3) + 30px);
  width: calc(calc(30px * 1.3) + 30px);
  width: calc(var(--switch--labelWidth) + var(--switch--pipSize));
  padding: 0;
  border: var(--border-base) solid var(--color-grey--lighter);
  border-radius: 30px;
  border-radius: 30px;
  border-radius: var(--switch--pipSize);
  overflow: hidden;
  line-height: normal;
  background-color: var(--color-grey--lightest);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

._1TYiN0KipS0HguS_tKWfjN:focus {
  box-shadow: 0 0 4px 1px var(--color-yellow--light);
  outline: none;
}

._2FTUgoy1jHHC6Zp3jZiFem {
  border-color: var(--color-green);
  background-color: var(--color-green);
}

._17OASjesGo_G7ojFH6iMvI {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: calc(-1 * calc(30px * 1.3));
  margin-left: calc(-1 * calc(30px * 1.3));
  margin-left: calc(-1 * var(--switch--labelWidth));
  pointer-events: none;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -ms-flex-align: center;
  align-items: center;
}

._2FTUgoy1jHHC6Zp3jZiFem ._17OASjesGo_G7ojFH6iMvI {
  margin-left: calc(-1 * calc(var(--border-base) * 2));
  margin-left: calc(-1 * calc(var(--border-base) * 2));
  margin-left: calc(-1 * var(--switch--borderOffset));
}

._2QoMYBKIeOc4fkTMpeJ-0Y {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-width: calc(30px * 1.3);
  min-width: calc(30px * 1.3);
  min-width: var(--switch--labelWidth);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

._2QoMYBKIeOc4fkTMpeJ-0Y:first-of-type {
  padding-left: var(--space-small);
}

._2QoMYBKIeOc4fkTMpeJ-0Y:last-of-type {
  padding-right: var(--space-small);
}

.JsY6cDqLe8d_25vumz97W {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 30px;
  width: 30px;
  width: var(--switch--pipSize);
  height: 30px;
  height: 30px;
  height: var(--switch--pipSize);
  border: var(--border-base) solid var(--color-grey);
  border-radius: 30px;
  border-radius: 30px;
  border-radius: var(--switch--pipSize);
  background-color: var(--color-white);
}

._2FTUgoy1jHHC6Zp3jZiFem .JsY6cDqLe8d_25vumz97W {
  border-color: var(--color-green);
}

._3uDSBuknYCWotuDOq6jYUD {
  border-color: var(--color-grey--lighter);
  background-color: var(--color-grey--lightest);
  cursor: not-allowed;
}

._3uDSBuknYCWotuDOq6jYUD .JsY6cDqLe8d_25vumz97W {
  border-color: var(--color-grey--lighter);
}

._2wLd_KRTNAGUWLuHUk3oW {
  display: -ms-flexbox;
  display: flex;
}

._3S4AEFcAzye_0NKuyb26Pt {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex-item-align: center;
  align-self: center;
  padding-right: var(--space-base);
  transition: opacity var(--timing-base);
}

._3fTQ2YTOZjh3z63IpmHOEX {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-item-align: start;
  align-self: flex-start;
  position: relative;
}

.vVv_rOT7pURJPkU4rvJPE {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: var(--space-smallest);
  text-align: center;
}

.f8zTHuP6EgBAklxGjSv1O {
  opacity: 0.5;
}

.NweVtD0555WFOwkVpskgX {
  opacity: 1;
}

:root {
  --tooltip--border-color: var(--color-lightBlue);
  --tooltip--arrow-size: var(--space-small);
  --tooltip--offset: calc(-1 * calc(var(--space-smaller) + 1px));
}

._2IKuYsqwWWH9A-WgJDR61q {
  display: none;
}

._2fkHxHwiJK9AkUMCIPucCJ {
  display: inline-block;
  position: absolute;
  z-index: var(--elevation-tooltip);
}

._2YpF1qO7J5ncFlfoW0hA1L {
  display: inline-block;
  position: relative;
  max-width: calc(var(--base-unit) * 15);
  padding: var(--space-small);
  border: var(--border-base) solid var(--color-lightBlue);
  border: var(--border-base) solid var(--color-lightBlue);
  border: var(--border-base) solid var(--tooltip--border-color);
  border-radius: var(--radius-base);
  background-color: var(--color-lightBlue--lightest);
}

._2YpF1qO7J5ncFlfoW0hA1L ._3DjyKsZFiUA0QD18ABsimd,
._2YpF1qO7J5ncFlfoW0hA1L ._3DjyKsZFiUA0QD18ABsimd::after {
  width: var(--space-small);
  width: var(--space-small);
  width: var(--tooltip--arrow-size);
  height: var(--space-small);
  height: var(--space-small);
  height: var(--tooltip--arrow-size);
  background-color: inherit;
}

._2YpF1qO7J5ncFlfoW0hA1L ._3DjyKsZFiUA0QD18ABsimd::after {
  content: "";
  display: block;
  position: absolute;
  border: var(--border-base) solid var(--color-lightBlue);
  border: var(--border-base) solid var(--color-lightBlue);
  border: var(--border-base) solid var(--tooltip--border-color);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

._3VkJmaX3T1x98A59lZbEa5 {
  padding-bottom: var(--space-small);
}

._3VkJmaX3T1x98A59lZbEa5 ._2YpF1qO7J5ncFlfoW0hA1L {
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

._3VkJmaX3T1x98A59lZbEa5 ._2YpF1qO7J5ncFlfoW0hA1L ._3DjyKsZFiUA0QD18ABsimd {
  bottom: calc(-1 * calc(var(--space-smaller) + 1px));
  bottom: calc(-1 * calc(var(--space-smaller) + 1px));
  bottom: var(--tooltip--offset);
}

._3VkJmaX3T1x98A59lZbEa5
  ._2YpF1qO7J5ncFlfoW0hA1L
  ._3DjyKsZFiUA0QD18ABsimd::after {
  border-top-width: 0;
  border-left-width: 0;
}

.QtIXawS3dVhY8j2NKSZLY {
  padding-top: var(--space-small);
}

.QtIXawS3dVhY8j2NKSZLY ._2YpF1qO7J5ncFlfoW0hA1L {
  -webkit-transform-origin: top center;
  transform-origin: top center;
}

.QtIXawS3dVhY8j2NKSZLY ._2YpF1qO7J5ncFlfoW0hA1L ._3DjyKsZFiUA0QD18ABsimd {
  top: calc(-1 * calc(var(--space-smaller) + 1px));
  top: calc(-1 * calc(var(--space-smaller) + 1px));
  top: var(--tooltip--offset);
}

.QtIXawS3dVhY8j2NKSZLY
  ._2YpF1qO7J5ncFlfoW0hA1L
  ._3DjyKsZFiUA0QD18ABsimd::after {
  border-bottom-width: 0;
  border-right-width: 0;
}

:root {
  --card--background-color: var(--color-white);
  --card--header-background-color: var(--color-grey--lightest);
  --card--content-background-color: var(--color-white);
  --card--border-color: var(--color-grey--lighter);
  --card--accent-color: var(--color-grey);
  --card--base-padding: var(--space-base);
}

._2w-ENhwzKCQRe6WuvVd7_U {
  display: block;
  width: 100%;
  border: var(--border-base) solid var(--color-grey--lighter);
  border: var(--border-base) solid var(--color-grey--lighter);
  border: var(--border-base) solid var(--card--border-color);
  border-radius: var(--radius-base);
  outline-color: var(--color-outline);
  background-color: var(--color-white);
  background-color: var(--color-white);
  background-color: var(--card--background-color);
}

._2w-ENhwzKCQRe6WuvVd7_U > * {
  --public-content--padding: var(--card--base-padding);
}

._2w-ENhwzKCQRe6WuvVd7_U > * > * {
  --public-content--padding: 0;
}

._2w-ENhwzKCQRe6WuvVd7_U:active {
  outline: 0;
}

._1UYHkzg1Vo2DMU6bWTiDvE {
  border-top: 0.5rem solid var(--color-grey);
  border-top: 0.5rem solid var(--color-grey);
  border-top: 0.5rem solid var(--card--accent-color);
}

._3rK5LR5T1LRokq5vsb0JUl {
  --card--border-color: transparent;

  box-shadow: var(--shadow-base);
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
  transition: all var(--timing-quick) linear;
}

._3rK5LR5T1LRokq5vsb0JUl:hover,
._3rK5LR5T1LRokq5vsb0JUl:focus {
  background-color: var(--color-yellow--lightest);
}

._1XhV_cQQhlcMC9ag5E9jhU {
  padding: var(--space-base);
  padding: var(--space-base);
  padding: var(--card--base-padding);
  background-color: var(--color-grey--lightest);
  background-color: var(--color-grey--lightest);
  background-color: var(--card--header-background-color);
}

.r_dgHOkz2GHdC3Q2cV3Pc {
  --card--accent-color: var(--color-request);
}

._3EeVP9ZlHkM67T9ehsWtiS {
  --card--accent-color: var(--color-quote);
}

._2N_2zZDN_y6W1dNQQyiDD1 {
  --card--accent-color: var(--color-job);
}

._3GJ2q1Nl3cRv1lTW0P_zy8 {
  --card--accent-color: var(--color-invoice);
}

._1tA9oFk-P-6t52TbhVoRCk {
  --card--accent-color: var(--color-outline);
}

.YFuR9j0a9ZFPkkNLbuBwA {
  --card--accent-color: var(--color-error);
}

._161VC3xKoHBYl3xsD4Yk5Q {
  --card--accent-color: var(--color-blue);
}

._1gsqssX3dl2yWj0j_amhkj {
  --card--accent-color: var(--color-blue--light);
}

._1TpnTg56KtSblI8fq1MjCi {
  --card--accent-color: var(--color-blue--lighter);
}

.UlRszMir3mXZDknqy0Abk {
  --card--accent-color: var(--color-blue--lightest);
}

.P9izp-A51mdMpabQwRuqt {
  --card--accent-color: var(--color-blue--dark);
}

._2l99yDkMjR7XcXHq_XVyH8 {
  --card--accent-color: var(--color-green);
}

._2SkrMY6RSTz7fWg5CPRxzT {
  --card--accent-color: var(--color-green--light);
}

._1vdTWAHTYlQQCxChtVS-yw {
  --card--accent-color: var(--color-green--lighter);
}

._2sOy4nX4pbbxdxewOs9OZn {
  --card--accent-color: var(--color-green--lightest);
}

._2gZKvEz3FhcYTKXCsVztS7 {
  --card--accent-color: var(--color-green--dark);
}

._2vLmguA8ZEA1n7uxgA4tkk {
  --card--accent-color: var(--color-lime);
}

._1Wblb5ohYF0-ivujrv9NEY {
  --card--accent-color: var(--color-lime--light);
}

._2ZGzAB0rCWXLEOVn1CBQYO {
  --card--accent-color: var(--color-lime--lighter);
}

._2TxRbAiT-8Dyt-tgiAevrI {
  --card--accent-color: var(--color-lime--lightest);
}

._24D5a26PapvhrGT6_R7Plt {
  --card--accent-color: var(--color-lime--lightest);
}

._1_KXzLi7tMLmSuO7tkz8rC {
  --card--accent-color: var(--color-yellowGreen);
}

._2CAB-pkfwqd_XiChtfCSYy {
  --card--accent-color: var(--color-yellowGreen--light);
}

._2B5XH-o7QyIoaDu49L4bX_ {
  --card--accent-color: var(--color-yellowGreen--lighter);
}

._1aJejWyKFnG95oBw7IAcs8 {
  --card--accent-color: var(--color-yellowGreen--lightest);
}

._2XXk2rw-Y1JcqRsT8mFp5v {
  --card--accent-color: var(--color-yellowGreen--dark);
}

._8dx0L8-SrE4ImcX9Rl3as {
  --card--accent-color: var(--color-yellow);
}

._2QfJFx3-339F1Q215RSshy {
  --card--accent-color: var(--color-yellow--light);
}

._3gCDjm-vKX3twHglK9LwT- {
  --card--accent-color: var(--color-yellow--lighter);
}

._2KhIbUKkv8u4sx_SuyDleK {
  --card--accent-color: var(--color-yellow--lightest);
}

._1u9HBnFELEqNBHeuXTy9ps {
  --card--accent-color: var(--color-yellow--dark);
}

._AEU5GBtZH_3TIgszszMe {
  --card--accent-color: var(--color-red);
}

._2NYhsmxitOEfvezfJaXqGA {
  --card--accent-color: var(--color-red--light);
}

._3QV7PNjGUVjSwFTVcuDf_0 {
  --card--accent-color: var(--color-red--light);
}

._3wrq2b1m7NsWb_TzS_eiIt {
  --card--accent-color: var(--color-red--lightest);
}

._3U59jf708Pwcs_aSJtTipT {
  --card--accent-color: var(--color-red--dark);
}

._2NCZHNUXIs3ppH2qrDPeM8 {
  --card--accent-color: var(--color-grey);
}

.N5o92y178VubSjAwkwUyS {
  --card--accent-color: var(--color-grey--light);
}

.YltRUpnoZ7S4eHx-Q2UV6 {
  --card--accent-color: var(--color-grey--lighter);
}

._1vM7z0o722ej-f_ltMTzR8 {
  --card--accent-color: var(--color-grey--lightest);
}

._8v46HTaoXgGLohT6NTy0v {
  --card--accent-color: var(--color-grey--dark);
}

._2pb3mcOJHCejnLR3kNbD22 {
  --card--accent-color: var(--color-greyBlue);
}

._3pJ57Il3DK1Xzx_RlIqpuf {
  --card--accent-color: var(--color-greyBlue--light);
}

._2DUbdjJZfKbjf3ZpctAKXj {
  --card--accent-color: var(--color-greyBlue--lighter);
}

.Kdh-imIb5TC66KYwq8tG9 {
  --card--accent-color: var(--color-greyBlue--lightest);
}

._14FKklm5UMKTMK4Z8I9TAk {
  --card--accent-color: var(--color-greyBlue--dark);
}

._1vyUMGRr9oAcHC7Tu8ZHT9 {
  --card--accent-color: var(--color-lightBlue);
}

._2Usil3CLjYNeb2kl6QilfC {
  --card--accent-color: var(--color-lightBlue--light);
}

._3cVEdvqmhh6PBHxfp6kUL0 {
  --card--accent-color: var(--color-lightBlue--lighter);
}

.i1K9zoRkq5ZplwJTBx_vo {
  --card--accent-color: var(--color-lightBlue--lightest);
}

._1wKCLUuUyDw1_4NoR1ekHO {
  --card--accent-color: var(--color-lightBlue--dark);
}

._3WAaIt0-6hFQT1bMoX0mwi {
  --card--accent-color: var(--color-purple);
}

.QpZZHQHrB4hnoKRZ2wNjz {
  --card--accent-color: var(--color-purple--light);
}

._1Ub7hGuytNUccuEJ2X5Acv {
  --card--accent-color: var(--color-purple--lighter);
}

.hymIYxPgCV3PIvD_Ondjp {
  --card--accent-color: var(--color-purple--lightest);
}

._2crCrqXonteGFE2Hf-Tfvx {
  --card--accent-color: var(--color-purple--dark);
}

.-g6rTwLn4m1FAUO49mioY {
  --card--accent-color: var(--color-pink);
}

._4yv6DxuiEoLd8nrrwjCC {
  --card--accent-color: var(--color-pink--light);
}

._100RQJoFttmRFhMCw38gUu {
  --card--accent-color: var(--color-pink--lighter);
}

.Wc1i3XbBInziMOx93wDBB {
  --card--accent-color: var(--color-pink--lightest);
}

._3yuKq7UN1aDxJYhTCR6J99 {
  --card--accent-color: var(--color-pink--dark);
}

._3oRBowls0KnxqJowoZihtu {
  --card--accent-color: var(--color-teal);
}

._3Z4AwddDWq_3Mcz2xPyosa {
  --card--accent-color: var(--color-teal--light);
}

._28vjG1mUREHC1KVx-kMxuf {
  --card--accent-color: var(--color-teal--lighter);
}

.dnkjVr7UsdJ5hN28dPV6b {
  --card--accent-color: var(--color-teal--lightest);
}

._30XdXLAoG-gNb0qxVVZSD8 {
  --card--accent-color: var(--color-teal--dark);
}

._2VAMx2aztJA5S1sv9Q-fVh {
  --card--accent-color: var(--color-orange);
}

.rDMNMB30Ii4p_xhq2kz25 {
  --card--accent-color: var(--color-orange--light);
}

._1LDult_2uUn_3VDWc-ue3y {
  --card--accent-color: var(--color-orange--lighter);
}

._10wO5N-KbpiKsV5xOUcXVg {
  --card--accent-color: var(--color-orange--lightest);
}

.I9P_EqDAopiuDL3-UP6je {
  --card--accent-color: var(--color-orange--dark);
}

._3ggADng6sL844VFW5hPyrP {
  --card--accent-color: var(--color-brown);
}

.lXjXpfqMTFoI9-Gs9ww-S {
  --card--accent-color: var(--color-brown--light);
}

._3DSQwF6htRD_F8ALRW5J9W {
  --card--accent-color: var(--color-brown--lighter);
}

._3FOJHytPm177LLRa_11Nhe {
  --card--accent-color: var(--color-brown--lightest);
}

._3RDALwNqcDw8xsbuYnxgc0 {
  --card--accent-color: var(--color-brown--dark);
}

.V5W6gnsrCZBBIcEzRoRK6 {
  --card--accent-color: var(--color-navy);
}

.mpmbrEG0b5jIRXmBVm_u0 {
  --card--accent-color: var(--color-navy--light);
}

._1dSMOcSX8Ct9uU_oFmBzU- {
  --card--accent-color: var(--color-navy--lighter);
}

.iau6usSaWR1lOseSaQ6Mb {
  --card--accent-color: var(--color-navy--lightest);
}

.xuzABp_idOntfLMcHC1iM {
  --card--accent-color: var(--color-navy--dark);
}

._3LNoVS7soGOL7tbu-sWQkK {
  --card--accent-color: var(--color-indigo);
}

._1J36IYwKKnRW7ZlJMDeTQF {
  --card--accent-color: var(--color-indigo--light);
}

._3No5SJRwTROVhcyty0_IjV {
  --card--accent-color: var(--color-indigo--lighter);
}

.BzH2uvC_IAWwyLR7NeB13 {
  --card--accent-color: var(--color-indigo--lightest);
}

._2yhIWlInAlDfBkAAFAomOL {
  --card--accent-color: var(--color-indigo--dark);
}

._3YEF2Q5g_Y_k8cpuZhTtTk {
  --card--accent-color: var(--color-white);
}

.gByR7gRALLoMeErFwXopX {
  --border-color: var(--color-grey--lighter);
  --header-border-color: var(--color-blue);
  --horizontal-inset: var(--space-base);
  width: 100%;

  box-shadow: 0 0 0 var(--border-base) var(--border-color);
  border-collapse: collapse;
  border-radius: var(--radius-base);
}

._2NFX_QOYJa4MyVRCz6JquI:not(:last-child) {
  border-bottom: solid 1px var(--border-color);
}

._3KP2hgsyvrNv4nEo3uCeR1 ._2NFX_QOYJa4MyVRCz6JquI {
  border-bottom: solid 1px var(--header-border-color);
  font-weight: bold;
  text-transform: uppercase;
}

._1gl1OQ5klhRSWkmB-Q01kt ._2NFX_QOYJa4MyVRCz6JquI {
  border-top: solid 4px var(--border-color);
}

.Dq-OQpN9kItKfJsIaTjL6 {
  padding: var(--horizontal-inset) calc(var(--horizontal-inset) / 2);
  text-align: left;
}

._3bBRzvtoTBozmykVE7XqOe {
  text-align: left;
}

._1f1IguDUp2Dy3ZhU_LCrgu {
  text-align: center;
}

._3cxjTRdABFJmE_6huhyU4R {
  text-align: right;
}

._3kcv5Lj_4g1u4sK_yR4QOu {
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}

.Dq-OQpN9kItKfJsIaTjL6:first-child {
  padding-left: var(--horizontal-inset);
}

.Dq-OQpN9kItKfJsIaTjL6:last-child {
  padding-right: var(--horizontal-inset);
}

._9gFxrZogiKbS3gPLv_I79 {
  margin-bottom: var(--space-smaller);
}

:root {
  --field--color: var(--color-blue);
  --field--textAlign: left;
  --field--placeholder-color: var(--color-greyBlue--light);
  --field--border-width: var(--border-base);
  --field--border-color: var(--color-grey--lighter);
  --field--background-color: var(--color-white);

  --field--padding-top: calc(var(--space-base) - var(--space-smallest));
  --field--padding-bottom: calc(var(--space-base) - var(--space-smallest));
  --field--padding-left: var(--space-base);
  --field--padding-right: var(--space-base);
  --field--height: var(--space-largest);

  --field--wrapper-elevation: auto;

  --public-field--top-left-radius: var(--radius-base);
  --public-field--top-right-radius: var(--radius-base);
  --public-field--bottom-left-radius: var(--radius-base);
  --public-field--bottom-right-radius: var(--radius-base);
}

._2bOj_Hpd2VvA3mi9t4RcZO {
  position: relative;
  z-index: auto;
  z-index: auto;
  z-index: var(--field--wrapper-elevation);
  width: 100%;
  background-color: var(--color-white);
  background-color: var(--color-white);
  background-color: var(--field--background-color);
}

._2bOj_Hpd2VvA3mi9t4RcZO[focus-within] {
  --field--border-color: var(--color-outline);
  --field--wrapper-elevation: var(--elevation-base);
}

._2bOj_Hpd2VvA3mi9t4RcZO[focus-within] {
  --field--border-color: var(--color-outline);
  --field--wrapper-elevation: var(--elevation-base);
}

._2bOj_Hpd2VvA3mi9t4RcZO:focus-within {
  --field--border-color: var(--color-outline);
  --field--wrapper-elevation: var(--elevation-base);
}

._1B_PtbJXwM1xlUfGgsK058,
.ktPFw5_r1v4MB-Ts5rPTG {
  box-sizing: border-box;
  margin: 0;
  padding-top: calc(var(--space-base) - var(--space-smallest));
  padding-top: calc(var(--space-base) - var(--space-smallest));
  padding-top: var(--field--padding-top);
  padding-bottom: calc(var(--space-base) - var(--space-smallest));
  padding-bottom: calc(var(--space-base) - var(--space-smallest));
  padding-bottom: var(--field--padding-bottom);
  padding-left: var(--space-base);
  padding-left: var(--space-base);
  padding-left: var(--field--padding-left);
  padding-right: var(--space-base);
  padding-right: var(--space-base);
  padding-right: var(--field--padding-right);
  font-family: inherit;
  font-size: var(--base-unit);
}

._1B_PtbJXwM1xlUfGgsK058 {
  display: block;
  position: relative;
  z-index: auto;
  width: inherit;
  height: var(--space-largest);
  height: var(--space-largest);
  height: var(--field--height);
  border: var(--border-base) solid var(--color-grey--lighter);
  border: var(--border-base) solid var(--color-grey--lighter);
  border: var(--field--border-width) solid var(--field--border-color);
  border-top-right-radius: var(--radius-base);
  border-top-right-radius: var(--radius-base);
  border-top-right-radius: var(--public-field--top-right-radius);
  border-bottom-right-radius: var(--radius-base);
  border-bottom-right-radius: var(--radius-base);
  border-bottom-right-radius: var(--public-field--bottom-right-radius);
  border-bottom-left-radius: var(--radius-base);
  border-bottom-left-radius: var(--radius-base);
  border-bottom-left-radius: var(--public-field--bottom-left-radius);
  border-top-left-radius: var(--radius-base);
  border-top-left-radius: var(--radius-base);
  border-top-left-radius: var(--public-field--top-left-radius);
  outline: none;
  color: var(--color-blue);
  color: var(--color-blue);
  color: var(--field--color);
  font-size: var(--base-unit);
  line-height: calc(var(--base-unit) * 1.25);
  text-align: left;
  text-align: left;
  text-align: var(--field--textAlign);
  background-color: transparent;
  transition: padding var(--timing-base);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

._1B_PtbJXwM1xlUfGgsK058::-ms-clear,
._1B_PtbJXwM1xlUfGgsK058::-webkit-clear-button {
  display: none;
}

textarea._1B_PtbJXwM1xlUfGgsK058 {
  height: auto;
  min-height: auto;
  resize: vertical;
}

select._1B_PtbJXwM1xlUfGgsK058 {
  padding-right: calc(var(--space-base) + var(--space-large));
  padding-right: calc(var(--space-base) + var(--space-large));
  padding-right: calc(var(--field--padding-right) + var(--space-large));
}

.ktPFw5_r1v4MB-Ts5rPTG {
  position: absolute;
  top: var(--border-base);
  top: var(--border-base);
  top: var(--field--border-width);
  right: var(--border-base);
  right: var(--border-base);
  right: var(--field--border-width);
  bottom: var(--border-base);
  bottom: var(--border-base);
  bottom: var(--field--border-width);
  left: var(--border-base);
  left: var(--border-base);
  left: var(--field--border-width);
  overflow: hidden;
  color: var(--color-greyBlue--light);
  color: var(--color-greyBlue--light);
  color: var(--field--placeholder-color);
  font-size: var(--base-unit);
  line-height: calc(var(--base-unit) * 1.25);
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  transition: all var(--timing-quick);
}

._3AHR56Sam4H_gp9JyzxRLl {
  display: inline-block;
  width: auto;
  vertical-align: -moz-middle-with-baseline;
}

._2N7Ipv_CbNRzrdEGCrptrV {
  --field--padding-top: var(--space-small);
  --field--padding-bottom: var(--space-small);
  --field--padding-left: calc(var(--space-base) - var(--space-smaller));
  --field--padding-right: calc(var(--space-base) - var(--space-smaller));
  --field--height: calc(var(--space-larger) + var(--space-smaller));
}

._2RtHPlAJG3Hp2QD9Q9cfD_ {
  --field--padding-top: calc(var(--space-large) - var(--space-smallest));
  --field--padding-bottom: calc(var(--space-large) - var(--space-smallest));
  --field--padding-left: var(--space-large);
  --field--padding-right: var(--space-large);
  --field--height: calc(var(--space-extravagant));
}

._2RtHPlAJG3Hp2QD9Q9cfD_ select {
  --field--padding-top: var(--space-base);
  --field--padding-bottom: var(--space-base);
}

._19KcCv1flBCB9mHUlTLkQL {
  --field--textAlign: center;
}

._1wVbgkkxLyHZUFsS-xEPlc {
  --field--textAlign: right;
}

/* State */

._3H2M7GlXG4Qh417lRbpzS7,
._3H2M7GlXG4Qh417lRbpzS7 ._1B_PtbJXwM1xlUfGgsK058:focus {
  --field--border-color: var(--color-red);
  --field--wrapper-elevation: var(--elevation-base);
}

._2xkImc45YUzsUp6bZ3Ik_4 {
  --field--placeholder-color: var(--color-grey);
  --field--background-color: var(--color-grey--lightest);
  --field--border-color: var(--color-grey--lighter);

  opacity: 0.6;
}

.IVFKQabHAwX8Kn2aNj8gM:not(._2N7Ipv_CbNRzrdEGCrptrV) ._1B_PtbJXwM1xlUfGgsK058 {
  --field--padding-top: calc(var(--space-base) + var(--space-smaller));
  --field--padding-bottom: var(--space-small);
}

.IVFKQabHAwX8Kn2aNj8gM .ktPFw5_r1v4MB-Ts5rPTG {
  --field--padding-top: var(--space-smallest);
  --field--padding-bottom: var(--space-smallest);
  --field--padding-left: var(--space-base);
  --field--padding-right: var(--space-base);
  bottom: auto;
  z-index: var(--elevation-base);

  height: auto;
  color: var(--color-greyBlue);
  font-size: calc(var(--base-unit) * 0.875);
}

.IVFKQabHAwX8Kn2aNj8gM._2N7Ipv_CbNRzrdEGCrptrV .ktPFw5_r1v4MB-Ts5rPTG {
  display: none;
}

.IVFKQabHAwX8Kn2aNj8gM._2RtHPlAJG3Hp2QD9Q9cfD_ .ktPFw5_r1v4MB-Ts5rPTG {
  --field--padding-top: var(--space-small);
  --field--padding-bottom: var(--space-smallest);
  --field--padding-left: var(--space-large);
  --field--padding-right: var(--space-large);
}

.IVFKQabHAwX8Kn2aNj8gM._2RtHPlAJG3Hp2QD9Q9cfD_
  textarea._1B_PtbJXwM1xlUfGgsK058 {
  --field--padding-top: var(--space-larger);
}

.IVFKQabHAwX8Kn2aNj8gM.izpvye064HAG8szhvRPCa .ktPFw5_r1v4MB-Ts5rPTG {
  background-color: var(--color-white);
}

._1tABQjw4-IkgUE3cbBzs7r {
  width: calc(
    (var(--base-unit) * var(--formField-maxLength)) + var(--space-base) +
      var(--space-base)
  );
  width: calc(
    (var(--base-unit) * var(--formField-maxLength)) + var(--space-base) +
      var(--space-base)
  );
  width: calc(
    (var(--base-unit) * var(--formField-maxLength)) + var(--field--padding-left) +
      var(--field--padding-right)
  );
}

._2wAjYcIVA8Vys9f_FUKf1F {
  position: absolute;
  top: 50%;
  right: var(--space-base);
  right: var(--space-base);
  right: var(--field--padding-right);
  color: var(--color-greyBlue);
  pointer-events: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

._2CX7X_wH5lb0fioNTuYTB3 {
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: var(--radius-large);
}

.hIEzl9j3x8azFGCx53-RF {
  padding: var(--space-smaller) var(--space-small);
}

._2FEAdHSbQ1julTQlXKcU9G {
  padding: var(--space-smaller) calc(var(--space-base) - var(--space-smallest));
}

.y2IZqgoDbEVd68JUw74_V {
  padding: var(--space-small) var(--space-base);
}

._3ayhjHoV55pJnCyceIIodY {
  color: var(--color-greyBlue--dark);
  background-color: var(--color-greyBlue--lightest);
}

._1NRX5K08cyefHFTjmEY7JC {
  color: var(--color-red--dark);
  background-color: var(--color-red--lightest);
}

._2WqpAFlUhWh2Wycr-r2uMn {
  color: var(--color-orange--dark);
  background-color: var(--color-orange--lightest);
}

.EM3QGMlc1v7pjfVBR2j82 {
  color: var(--color-green--dark);
  background-color: var(--color-green--lightest);
}

.LuBWHY5BJNh4RnEPozKgA {
  color: var(--color-blue--dark);
  background-color: var(--color-blue--lightest);
}

._36P3W4wMGeF6ObMYI87q2b {
  color: var(--color-navy--dark);
  background-color: var(--color-navy--lightest);
}

.z7yJ1rNuOTksBtZ0cr3ys {
  color: var(--color-yellow--dark);
  background-color: var(--color-yellow--lightest);
}

._2jRJWXkl2av1GzSTdc4GS {
  color: var(--color-lime--dark);
  background-color: var(--color-lime--lightest);
}

._2DSYzUVBgtIaB1xsMr7rVj {
  color: var(--color-purple--dark);
  background-color: var(--color-purple--lightest);
}

._27cvq6AfdeOP6SUuX5Ex_T {
  color: var(--color-pink--dark);
  background-color: var(--color-pink--lightest);
}

.eImPpTsVAb13A3dFkEkBc {
  color: var(--color-teal--dark);
  background-color: var(--color-teal--lightest);
}

._1AcWxzfWcjE71_gRrEo-J_ {
  color: var(--color-yellowGreen--dark);
  background-color: var(--color-yellowGreen--lightest);
}

.J21zEr7ZIvGwt6R5-MZQ7 {
  color: var(--color-white);
  background-color: var(--color-blue--light);
}

._27HNFihCeydE5HUcbCskQ4 {
  color: var(--color-lightBlue--dark);
  background-color: var(--color-lightBlue--lightest);
}

._3_dDXhHTqG9pa_au-60pWR {
  color: var(--color-indigo--dark);
  background-color: var(--color-indigo--lightest);
}

:root {
  --modal--width: calc(var(--base-unit) * 37.5);
  --modal--padding: var(--space-base);
  --modal--border-color: var(--color-grey--lighter);
}

@media (min-width: 640px) {
  :root {
    --modal--padding: var(--space-base) var(--space-large);
  }
}

@media (min-width: 640px) {
  :root {
    --modal--padding: var(--space-base) var(--space-large);
  }
}

@media (--medium-screens) {
  :root {
    --modal--padding: var(--space-base) var(--space-large);
  }
}

._1_FReUDORhZR5sFF1jxDZ4 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: var(--elevation-modal);
  padding: var(--space-small);
  overflow: auto;
}

._1_FReUDORhZR5sFF1jxDZ4,
.YdwnL8q9kXtLnlxEu6SP9 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.YdwnL8q9kXtLnlxEu6SP9 {
  background-color: var(--color-greyBlue);
  opacity: 0.8;
}

._2hKHM4Rlzvclc2pGmHoTBL {
  --public-tab--inset: var(--space-large);

  position: relative;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  max-width: calc(var(--base-unit) * 37.5);
  max-width: calc(var(--base-unit) * 37.5);
  max-width: var(--modal--width);
  margin: auto;
  border: var(--border-base) solid var(--color-grey--lighter);
  border: var(--border-base) solid var(--color-grey--lighter);
  border: var(--border-base) solid var(--modal--border-color);
  border-radius: var(--radius-base);
  outline-color: var(--color-outline);
  background-color: var(--color-white);
}

._2hKHM4Rlzvclc2pGmHoTBL > * {
  --public-content--padding: var(--modal--padding);
}

._2hKHM4Rlzvclc2pGmHoTBL > * > * {
  --public-content--padding: 0;
}

.RhEfa9gwqpglIheT5uq0v {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: var(--space-base);
  padding: var(--space-base);
  padding: var(--modal--padding);
  background-color: var(--color-grey--lightest);
}

._2hGT8VbbIAX27SyJglRyMG {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

._3O1sOKNEhVvtW_k_wBrJR {
  display: -ms-flexbox;
  display: flex;
  padding: var(--space-base);
  padding: var(--space-base);
  padding: var(--modal--padding);
  padding-top: 0;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

._3pUVCJLJyWuGSGnaStM3sE {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex-order: 1;
  order: 1;
}

._1fDeYu_CZWiL3glYPvWrwK {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-order: 2;
  order: 2;
}

._1fDeYu_CZWiL3glYPvWrwK > * {
  margin-left: var(--space-small);
}

._1fDeYu_CZWiL3glYPvWrwK *:first-child {
  -ms-flex-order: 2;
  order: 2;
}

._1fDeYu_CZWiL3glYPvWrwK *:nth-child(2) {
  -ms-flex-order: 1;
  order: 1;
}

/** css 03-02-2021 **/
.D_deCgrOv6-H73MnfGJvm {
  width: 100%;
  box-sizing: border-box;
  padding: var(--space-large);
}

._1ApfukxxkhoI4O2hiz5Uwn {
  max-width: none;
}

._3ztr1AAnXDjf1fJmrroFe {
  max-width: calc(var(--base-unit) * 80);
}

._3gzBNrakhNssSHRoK_PGT_ {
  max-width: calc(var(--base-unit) * 64);
}

._3xyO2kq36Y3b6SelhUDtfY h1 {
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-bottom: var(--space-base);
}

._3xyO2kq36Y3b6SelhUDtfY > ._30ozatSu_eBQRGijDkDcVv {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

._3xyO2kq36Y3b6SelhUDtfY.TMLLSUncr_7snmpWMQI52,
._3xyO2kq36Y3b6SelhUDtfY._1xus3UCuakwBnzEP9Y1A0w {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

._3xyO2kq36Y3b6SelhUDtfY.HQWAJd314k_9LuClFNXnq ._30ozatSu_eBQRGijDkDcVv {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

._3xyO2kq36Y3b6SelhUDtfY._1xus3UCuakwBnzEP9Y1A0w ._30ozatSu_eBQRGijDkDcVv,
._3xyO2kq36Y3b6SelhUDtfY.TMLLSUncr_7snmpWMQI52 ._30ozatSu_eBQRGijDkDcVv {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

._3xyO2kq36Y3b6SelhUDtfY._1xus3UCuakwBnzEP9Y1A0w ._30ozatSu_eBQRGijDkDcVv {
  -ms-flex-pack: end;
  justify-content: flex-end;
}

._2Vh4O7m0IWrXXamLjZAzlo {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin-bottom: var(--space-small);
}

._1JRE4jCUHc0uMECkrZ2sBz {
  margin-top: var(--space-small);
  -ms-flex: 1;
  flex: 1;
}

._1JRE4jCUHc0uMECkrZ2sBz > div {
  width: 100%;
}

._3xyO2kq36Y3b6SelhUDtfY.HQWAJd314k_9LuClFNXnq ._1JRE4jCUHc0uMECkrZ2sBz {
  margin-top: 0;
}

._3xyO2kq36Y3b6SelhUDtfY._1xus3UCuakwBnzEP9Y1A0w ._2Vh4O7m0IWrXXamLjZAzlo,
._3xyO2kq36Y3b6SelhUDtfY._1xus3UCuakwBnzEP9Y1A0w ._1JRE4jCUHc0uMECkrZ2sBz {
  margin: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

._3xyO2kq36Y3b6SelhUDtfY._1xus3UCuakwBnzEP9Y1A0w ._1JRE4jCUHc0uMECkrZ2sBz {
  margin-left: var(--space-small);
}

._3xyO2kq36Y3b6SelhUDtfY.HQWAJd314k_9LuClFNXnq
  ._1JRE4jCUHc0uMECkrZ2sBz
  + ._1JRE4jCUHc0uMECkrZ2sBz {
  margin-left: var(--space-small);
}

._3xyO2kq36Y3b6SelhUDtfY .brpsipr_kECyvzN54DsHj {
  margin-bottom: var(--space-base);
}

._3dsZe-fIMb0ftQQAJf53tI * {
  box-sizing: border-box;
}

._3dsZe-fIMb0ftQQAJf53tI {
  display: inline-block;
  position: relative;
}

._15jh7FtEcALDetgrjoV8HG {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--elevation-menu);
  width: 100%;
  max-height: 72vh;
  padding: var(--space-small);
  padding-bottom: calc(env(safe-area-inset-bottom) + var(--space-small));
  border-radius: var(--radius-base) var(--radius-base) 0 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  background-color: var(--color-white);
}

@media (min-width: 640px) {
  ._15jh7FtEcALDetgrjoV8HG {
    position: absolute;
    left: auto;
    width: calc(var(--base-unit) * 12.5);
    box-shadow: var(--shadow-base);
    padding: var(--space-small);
    border: var(--border-base) solid var(--color-grey--lighter);
    border-radius: var(--radius-base);
    overflow: auto;
  }
}

@media (min-width: 640px) {
  ._15jh7FtEcALDetgrjoV8HG {
    position: absolute;
    left: auto;
    width: calc(var(--base-unit) * 12.5);
    box-shadow: var(--shadow-base);
    padding: var(--space-small);
    border: var(--border-base) solid var(--color-grey--lighter);
    border-radius: var(--radius-base);
    overflow: auto;
  }
}

@media (--medium-screens) {
  ._15jh7FtEcALDetgrjoV8HG {
    position: absolute;
    left: auto;
    width: calc(var(--base-unit) * 12.5);
    box-shadow: var(--shadow-base);
    padding: var(--space-small);
    border: var(--border-base) solid var(--color-grey--lighter);
    border-radius: var(--radius-base);
    overflow: auto;
  }
}

@media (min-width: 640px) {
  ._2S3J3IQ4JcMgnYjzx3A9AA {
    bottom: 100%;
    margin-bottom: var(--space-smallest);
  }
}

@media (min-width: 640px) {
  ._2S3J3IQ4JcMgnYjzx3A9AA {
    bottom: 100%;
    margin-bottom: var(--space-smallest);
  }
}

@media (--medium-screens) {
  ._2S3J3IQ4JcMgnYjzx3A9AA {
    bottom: 100%;
    margin-bottom: var(--space-smallest);
  }
}

@media (min-width: 640px) {
  .qgoF1WJ8Cu39FVc3p_c8w {
    top: 100%;
    bottom: auto;
    margin-top: var(--space-smallest);
  }
}

@media (min-width: 640px) {
  .qgoF1WJ8Cu39FVc3p_c8w {
    top: 100%;
    bottom: auto;
    margin-top: var(--space-smallest);
  }
}

@media (--medium-screens) {
  .qgoF1WJ8Cu39FVc3p_c8w {
    top: 100%;
    bottom: auto;
    margin-top: var(--space-smallest);
  }
}

@media (min-width: 640px) {
  ._2QwnAwwIXZuZReq2cUwEoX {
    right: 0;
    left: auto;
  }
}

@media (min-width: 640px) {
  ._2QwnAwwIXZuZReq2cUwEoX {
    right: 0;
    left: auto;
  }
}

@media (--medium-screens) {
  ._2QwnAwwIXZuZReq2cUwEoX {
    right: 0;
    left: auto;
  }
}

@media (min-width: 640px) {
  ._2Bdz7gjSU8id-Og42er82U {
    right: auto;
    left: 0;
  }
}

@media (min-width: 640px) {
  ._2Bdz7gjSU8id-Og42er82U {
    right: auto;
    left: 0;
  }
}

@media (--medium-screens) {
  ._2Bdz7gjSU8id-Og42er82U {
    right: auto;
    left: 0;
  }
}

._1j-ztPLXQgH-5XOlXybf0- {
  padding: var(--space-small) 0;
  border-bottom: var(--border-base) dotted var(--color-grey);
}

._1j-ztPLXQgH-5XOlXybf0-:first-of-type {
  padding-top: 0;
}

._1j-ztPLXQgH-5XOlXybf0-:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.ecEGgRDm96wrHymIDR1FM {
  padding: var(--space-small);
}

._1lmtkHVgn76IrVsqnqlOYh {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: var(--space-small);
  border: none;
  border-radius: var(--radius-base);
  background-color: transparent;
  cursor: pointer;
  -ms-flex-align: center;
  align-items: center;
}

._1lmtkHVgn76IrVsqnqlOYh:hover,
._1lmtkHVgn76IrVsqnqlOYh:focus {
  background-color: var(--color-yellow--lightest);
  outline-color: var(--color-outline);
}

.QMbGAf7Vb6_SM8qOIvLMc {
  margin-right: var(--space-base);
}

._1DIimpm0iJewCr_4Ee8NTa {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--elevation-menu);
  background-color: rgba(
    101,
    120,
    132,
    0.8
  ); /* until we figure out rgba + color vars... */
}

@media (min-width: 640px) {
  ._1DIimpm0iJewCr_4Ee8NTa {
    background-color: transparent;
  }
}

@media (min-width: 640px) {
  ._1DIimpm0iJewCr_4Ee8NTa {
    background-color: transparent;
  }
}

@media (--medium-screens) {
  ._1DIimpm0iJewCr_4Ee8NTa {
    background-color: transparent;
  }
}

._1rPyLQMc1nSLWx4zAzSas0 {
  --modal--padding: var(--space-base);
  max-width: calc(var(--base-unit) * 25);
}

._3GkHDHYnN_8P6NQFVSfYiB {
  max-width: calc(var(--base-unit) * 58.75);
}

:root {
  --tab--border-color: var(--color-grey--lighter);
  --tab--border-color--selected: var(--color-green);
  --tab--height: calc(var(--space-larger) + var(--space-small));
  --tab--inset: var(--space-base);
  --public-tab--inset: var(--tab--inset);
}

._1XPiwZ-6hOSsu7HDy5yHmS {
  display: block;
  width: 100%;
}

.RnC8r3uAcGujRbYT-p6nj {
  position: relative;
  border-bottom: solid var(--border-base) var(--color-grey--lighter);
  border-bottom: solid var(--border-base) var(--color-grey--lighter);
  border-bottom: solid var(--border-base) var(--tab--border-color);
}

._2gWu8IF5c8dDlBnYmABbrH:after,
._3PQJmJy2Ol38mhvrp-VAjw:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 24px;
}

._2gWu8IF5c8dDlBnYmABbrH:after {
  right: 0;
  box-shadow: inset -16px 0 16px -16px var(--color-blue);
}

._3PQJmJy2Ol38mhvrp-VAjw:before {
  left: 0;
  box-shadow: inset 16px 0 16px -16px var(--color-blue);
}

._2SHAj2nQK9vISS7i_Zfxuw {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: calc(-1 * var(--border-base));
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.NClJjJvATDpU-FSQJ6ywe {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: calc(var(--space-larger) + var(--space-small));
  height: calc(var(--space-larger) + var(--space-small));
  height: var(--tab--height);
  margin: 0;
  padding-left: var(--space-base);
  padding-left: var(--space-base);
  padding-left: var(--public-tab--inset);
  padding-right: var(--space-base);
  padding-right: var(--space-base);
  padding-right: var(--public-tab--inset);
  border: solid var(--border-base) var(--color-grey--lighter);
  border: solid var(--border-base) var(--color-grey--lighter);
  border: solid var(--border-base) var(--tab--border-color);
  border-left-width: 0;
  outline: none;
  background: transparent;
  cursor: pointer;
  transition: all var(--timing-base);
}

.NClJjJvATDpU-FSQJ6ywe:hover,
.NClJjJvATDpU-FSQJ6ywe:focus {
  background-color: var(--color-yellow--lightest);
}

._2ijhlnd8EAKFyri-YTtRjw {
  border-top-color: var(--color-green);
  border-top-color: var(--color-green);
  border-top-color: var(--tab--border-color--selected);
  border-bottom-color: var(--color-white);
}

._2ijhlnd8EAKFyri-YTtRjw:focus {
  background-color: transparent;
}

._3Y4JRV5DrYYp-_haxplE4P {
  padding-top: var(--space-base);
  padding-top: var(--space-base);
  padding-top: var(--tab--inset);
  padding-bottom: var(--space-base);
  padding-bottom: var(--space-base);
  padding-bottom: var(--tab--inset);
  padding-left: var(--space-base);
  padding-left: var(--space-base);
  padding-left: var(--public-tab--inset);
  padding-right: var(--space-base);
  padding-right: var(--space-base);
  padding-right: var(--public-tab--inset);
}

/* vinod 08-03-2022 */

.dialog-content {
  overflow-y: scroll;
}
.sidenav-menu.js-sidenavMenu a:nth-child(10) {
  margin-left: auto;
}
nav#sidenav-quick-create-menu a svg {
  margin-right: 8px;
}

nav#sidenav-quick-create-menu a {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 0 15px;
  height: 2.5rem;
  background: #4c4c4c;
  color: #fff;
  border: none !important;
  font-size: 14px;
}
.QuickCreate-module__menu___1RzuX {
  top: 66px !important;
  left: 5% !important;
  flex-direction: column;
  width: 200px;
  background: #4c4c4c !important;
  border: none;
}
span.QuickCreate-module__icon___OImv_ {
  display: none;
}
.QuickCreate-module__menu___1RzuX a:first-child::before {
  display: none;
}

nav#sidenav-quick-create-menu {
  opacity: 0 !important;
  position: absolute;
  top: 49px !important;

  display: unset !important;
  transform: translateY(-85px) !important;
  transition: all 0.5s !important;
}

.QuickCreate-module__container___2xURb {
  position: relative;
  overflow-y: visible;
  overflow-x: visible;
}
.QuickCreate-module__container___2xURb:hover nav#sidenav-quick-create-menu {
  opacity: 1 !important;
  transform: translateY(0px) !important;
  z-index: 111;
  transition: all 0.5s !important;
}

.QuickCreate-module__menu___1RzuX {
  animation-name: auto !important;
}
.sidenav-menuGroup.js-sidenavMenuItem.havesubmenuss:hover
  .sidenav-subMenu.js-sidenavMenuItemList {
  z-index: 11;
}
.thicklist-sectionHeader {
  z-index: 1;
}
select#paginate_data {
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #f9f9f9;
}

.styleObj {
  position: fixed;
  top: 0;
  background: #000;
  height: 100%;
  left: 0;
  z-index: 111;
}

.loader {
  width: 45px;
  height: 45px;
}
/* PAGINATION PURPOSE CLASS BY POONAM */
.pagination_check {
  pointer-events: none;
}

.center_cls {
  margin: auto;
  width: 30%;
}

.card.file_preview_card {
  top: 50px;
  left: 150px;
  min-width: 500px;
  min-height: 400px;
  padding: 10px;
  background-color: #f1f1f1;
  position: fixed;
  border: 3px solid #000;
  z-index: 9;
}
.card.file_preview_card:hover {
  opacity: 1;
}
.card-close {
  background-color: beige;
  border: 1 solid #000;
  border-radius: 5px;
  float: right;
}
.file_preview_contents {
  overflow-y: scroll;
  overflow-x: auto;
}
.card-content.file_preview_header {
  overflow-wrap: break-word;
  background-color: dimgray;
  color: white;
}
#sidenav-quick-create-menu a:hover{
  background-color:darkolivegreen;
}